name: Phenopacket Store Q/C

on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]
    workflow_dispatch:

env:
  # Path to directory that contains the cohorts, one cohort per folder.
  NOTEBOOK_DIR: notebooks
  # The phenopacket Q/C will be performed against this HPO release.
  HPO_VERSION: v2026-01-08

jobs:
    run-qc:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4
        - name: Initialize Python
          uses: actions/setup-python@v4.3.1
          with:
            python-version: '3.12'
        - name: Install Phenopacket Store Toolkit
          run: |
            python3 -m pip install phenopacket-store-toolkit[release]
        - name: Run phenopacket Q/C
          run: |
            python3 -m ppktstore qc --hpo-release "${HPO_VERSION}" --notebook-dir "${NOTEBOOK_DIR}"
